<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>
</head>
<body>
<form action="/movies/rent/payment" method="post">
    <input type="number" id="id" name="id">
    <label for="id">ID</label><br>
    <input type="number" id="price" name="price">
    <label for="price">PRICE</label><br>
    <input type="text" id="movie" name="movie">
    <label for="movie">Movie</label><br>
    <input type="text" id="user" name="user">
    <label for="user">USER</label><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>